@page "/CategoriaListar"

<h3>Listagem Categoria</h3>

<table class="table table-stripe">
    <tr>
        <th>Código</th>
        <th>Descrição</th>

    </tr>

    <tr>
        <td>1</td>
        <td>Terror</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Suspense</td>

    </tr>

    <tr>
        <td>3</td>
        <td>Ação</td>

    </tr>

    <tr>
        <td>4</td>
        <td>Cómedia</td>

    </tr>
    <tr>
        <td>5</td>
        <td>Drama</td>

    </tr>
</table>
    @code {



    }
